<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeChat</title>
    <link rel="stylesheet" href="../static/css/wechat.css">
    <script src="../static/js/flexible.js"></script>
</head>

<body>
    <h1>{{ title }}</h1>
    <div class="mess"><span id="room_name">正在连接...</span><span id="room_num"></span></div>
    <div class="wechat_box">
        <ul class="msg_list" id="msg_list">
        </ul>
    </div>
    <div class="handle_box">
        <input type="text" id="val">
        <div id="btn">发送</div>
    </div>
    <script>
        // const address = 'ws://42.194.194.50:3366';
        const address = 'ws://localhost:3366';
        var room = { name: document.getElementById("room_name"), num: document.getElementById("room_num") }, wechat = { nickname: getValue('user'), room: getValue('room') };
        if (wechat.nickname != null && wechat.nickname != "" && window.WebSocket) {
            var ws = new WebSocket(address);

            ws.onopen = function (e) {
                console.log("连接服务器成功");
                ws.send(JSON.stringify({ type: 'setName', ...wechat }));
            }
            ws.onclose = function (e) {
                console.log("服务器关闭");
            }
            ws.onerror = function () {
                console.log("连接出错");
            }

            ws.onmessage = function (e) {
                console.log(e.data, new Date());
                const data = JSON.parse(e.data);
                room.name.innerHTML = decodeURIComponent(data.room);
                if (data.type == 'chatterList')
                    room.num.innerHTML = `(${data.list.length})`;
                if (data.message != undefined)
                    addMsg(data);
            }
            ws.onclose = this.onWebsocketClose;
            ws.onerror = this.onWebsocketError;
            document.querySelector("#btn").onclick = sendMsg;
            document.addEventListener('keyup', function (event) {
                if (event.keyCode == 13) {
                    sendMsg();
                }
            }, false)
        }

        function getValue(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        function addMsg(data) {
            let el = '';
            if (data.type == 'serverInformation') {
                el = `<li class="tc"><div class="info">${decodeURIComponent(data.name)}进入房间</div></li>`;
            } else if (data.type == 'chat') {
                if (wechat.nickname != data.name)
                    el = `<li class="tl"><div class="msg_box"><span class="name">${decodeURIComponent(data.name)}</span><span class="msg">${decodeURIComponent(data.message)}</span></div></li>`;
                else
                    el = `<li><div class="msg_box"><span class="msg">${decodeURIComponent(data.message)}</span></div></li>`;

            }
            document.querySelector("#msg_list").innerHTML += el;
        }
        function sendMsg() {
            var input = document.querySelector('#val');
            ws.send(JSON.stringify({ type: 'chat', ...wechat, message: input.value }));
            input.value = '';
        }
    </script>
</body>

</html>