body {
    background-color: #f5f5f5;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    text-align: center;
}
.wechat_list {
    width: 90%;
    margin: 0 auto;
}

.room {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .2rem;
    border-radius: .04rem;
    padding: .1rem .2rem;
    border: .02rem solid #abcdef;
}

.createRoom {
    width: 90%;
    padding: .1rem;
    margin: .2rem auto;
    color: #fff;
    border-radius: .04rem;
    font-size: .28rem;
    text-align: center;
    background-color: #abcdef;
    border: .02rem solid #66a3e0;
}
.mess {
    text-align: center;
}

.wechat_box {
    width: 90%;
    height: 9rem;
    overflow-y: auto;
    margin: .2rem auto;
    border-radius: 6px;
    border: 1px solid #abcdef;
}

.handle_box {
    position: fixed;
    bottom: .5rem;
    left: 50%;
    display: flex;
    width: 90%;
    transform: translateX(-50%);
}

#val {
    flex: 1;
    margin-right: .2rem;
}

#btn {
    display: inline-block;
    width: 1.4rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    border-radius: .04rem;
    color: #fff;
    background-color: #abcdef;
    border: .02rem solid #66a3e0;
}

.msg_list li {
    text-align: right;
    padding: 0 .2rem;
    margin: .2rem 0;
    display: flex;
}

.msg_list .msg_box {
    flex: 1;
}

.msg_list .msg {
    position: relative;
    display: inline-block;
    padding: .08rem .1rem;
    border-radius: .04rem;
    margin: 0 .2rem;
    font-size: .28rem;
    text-align: left;
    word-break: break-all;
    line-height: 0.46rem;
    vertical-align: middle;
    background-color: #95ec69;
}

.msg_list li:not(.tc):not(.tl) .msg::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: .22rem;
    transform: translateX(100%);
    border: .1rem solid #95ec69;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.msg_list li.tl {
    position: relative;
}

.msg_list li.tl .msg {
    background-color: #fff;
    margin-top: .3rem;
}

.msg_list li.tl .name {
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: .2rem;
}

.msg_list li.tl .msg::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: .22rem;
    transform: translateX(-100%);
    border: .1rem solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.msg_list .info {
    width: 100%;
}

.msg_list .tl {
    text-align: left;
}

.msg_list .tc {
    text-align: center;
    padding: .04rem;
    margin: 0;
    font-size: .24rem;
}

.msg_list li:not(.tc):not(.tl):after {
    content: "";
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: .1rem;
    vertical-align: middle;
    background-color: #abcdef;
}

.msg_list li.tl::before {
    content: "";
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: .1rem;
    vertical-align: middle;
    background-color: #abcdef;
}