<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <title>demo</title>
    <script src="http://static.jonvie.com/jonvie/wx/debug/V5.0/js/flexible.js"></script>
    <style>
        #chess {
            display: block;
            margin: .3rem auto;
            cursor: pointer;
            box-shadow: 0 0 10px #abcdef;
            -webkit-tap-highlight-color: transparent;
        }
    </style>
</head>

<body>


    <p style="text-align: center;"><span id="name"></span>五子棋</p>
    <canvas id="chess"></canvas>
    <p id="tips" style="text-align: center;color: green;font-size: .4rem;"></p>
    <button class="" onclick="ready();">准备</button>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="../static/js/chess.js"></script>
    <script>
        var chess = new Chess({ id: "#chess" }), aaa = [], ws;
        const address = 'ws://localhost:7777';
        // const address = 'ws://42.194.194.50:7777';
        var wechat = { id: md5(getValue('user')), nickname: getValue('user'), room: getValue('room') }, room = { name: document.querySelector("#name") };
        if (wechat.nickname != null && wechat.nickname != "" && wechat.room != null && wechat.room != "" && window.WebSocket) {
            ws = new WebSocket(address);

            ws.onopen = function (e) {
                console.log("连接服务器成功");
                ws.send(JSON.stringify({ type: 'userAdd', ...wechat }));
            }
            ws.onclose = function (e) {
                console.log("服务器关闭");
            }
            ws.onerror = function () {
                console.log("连接出错");
            }

            ws.onmessage = function (e) {
                const res = JSON.parse(e.data);
                console.log(res);
                if (res.chess) {
                    chess.isMe = (res.chess.current > -1) && (res.chess.players[res.chess.current].id == wechat.id);
                    chess.isAlive = res.chess.alive;
                    chess.reDrawBoard(res.chess['chessBoard']);
                }
                room.name.innerHTML = decodeURIComponent(res.room);
                if (res.winner != undefined)
                    document.querySelector("#tips").innerHTML = res.nickname;
            }
            chess.dispatch = function (coor) {
                let res = { type: 'gameStep', ...coor, ...wechat }
                ws.send(JSON.stringify(res));
            }
            ws.onclose = this.onWebsocketClose;
            ws.onerror = this.onWebsocketError;
        }
        function getValue(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        function ready(){
            console.log(JSON.stringify({ type: 'ready', ...wechat }));
            ws.send(JSON.stringify({ type: 'ready', ...wechat }));
        }
    </script>
</body>

</html>