<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <title>demo</title>
    <script src="http://static.jonvie.com/jonvie/wx/debug/V5.0/js/flexible.js"></script>
</head>
<body>
    <p style="text-align: center;">房间</p>
    <canvas id="chess"></canvas>
    <p id="tips" style="text-align: center;color: green;font-size: .4rem;"></p>
</body>
</html>